<template name='faq'>
  <h2>Aw. Faq.</h2>
  <h2>Help. Someone's cursing at me!</h2>
  <p>This chat app is designed for a clean, easy-access chatting alternative.
    A solution, if someone is bothering you, is to mute them or discontinue use
    of the application.
  </p>
  <h2>Can I pay for my private room with something other than Stripe?</h2>
  <p>Currently, no.</p>
  <h2>What comes with a private room?</h2>
  <p>Private Rooms come with Ad-Free space and can only be logged into by users
  who have permission to use that room.</p>
  <h2>Why should I buy a private room?</h2>
  <p>Purchasing a private room will get rid of ads on the site for you.
  Ads will not be displayed for any user in your private room. Lastly, you
  get to support a small business! Thanks for helping me keep free chat alive!</p>
</template>
